
@font-face {
    font-family: 'yekan';
    font-style: normal;
    font-weight: 300;
    src: url('yekan.eot?#') format('embedded-opentype'), url(yekan.woff) format('woff'), url(yekan.ttf) format('truetype');
  }
  
  
  
  @font-face {
    font-family: "IRANSans";
    src: url(Iransans-Light.eot);
    src: url(Iransans-Light.eot?#iefix) format("embedded-opentype"), url(Iransans-Light.woff) format("woff"), url(Iransans-Light.ttf) format("truetype");
    font-weight: normal;
  }

  * {
      box-shadow: border-box;
  }
body {
    font-family: "yekan", arial;
    background-color: rgba(0, 0, 0, 0.05);
}
.image_container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    

}
.image_box {
    flex: 1 1;
    max-width: 250px;
    margin:8px;
}
.image_box img { width: 100%;}
.action-product{
    display:flex;
    flex-direction: column;
   
}

.action-product input{
    display:flex;
    justify-content: center;
    align-content:space-between ;
    margin: 5px;
    width:100%;
}
.action-product a{
    display:flex;
    justify-content: center;
    align-content:space-between ;
    margin: 5px;
    width:100%;

}


.title-products td{
  text-align: center;
}

.title-projects td{
    text-align: center;
  }
.products-detail td{
    text-align: center;
    vertical-align: middle;
}
.projects-detail td{
    text-align: center;
    vertical-align: middle;
}

.action-category{ 
    display:flex;
    flex-direction: column;
   
}

.action-category input{
    display:flex;
    justify-content: center;
    align-content:space-between ;
    margin: 5px;
    width:100%;
}
.action-category a{
    display:flex;
    justify-content: center;
    align-content:space-between ;
    margin: 5px;
    width:100%;
}



.title-category td{
  text-align: center;
}

.category-detail td{
    text-align: center;
    vertical-align: middle;
}

.new-category{
    background-color: rgb(31, 199, 45);
    color:white;
    border-radius: 5px;
    padding: 10px;
}

.new-category:hover{
    text-decoration: none;
    color:white;
    background-color: #32996e;
}

.amd-nav{
display: flex;
height: 60px;
border-bottom: 1px solid rgb(230, 230, 230);
background-color: rgb(31, 199, 45) !important;
color: white !important;
border-bottom:1px solid rgb(31, 199, 45);
border-top:1px solid rgb(31, 199, 45);
box-shadow: 5px 5px 18px rgb(79, 223, 115);
}
.edit-category{
    text-align:center;
     padding:20px;
     background-color: white;
     width:50%;
     margin: auto;
     margin-top: 40px;
     border-radius:10px 10px 0 0 ;
     box-shadow: 5px 3px 18px #ccc;
     border:1px solid #dee2e6;
     margin-bottom: 2px;

}

.create-category-sub{
    text-align:center;
    padding:20px;
    background-color: white;
    margin: auto;
    margin-top: 40px;
    border-radius:10px 10px 0 0 ;
    box-shadow: 5px 3px 18px #ccc;
    border:1px solid #dee2e6;
    margin-bottom: 2px;
}

.show-category{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  direction:rtl;
  background-color: white;
  box-shadow: 5px 3px 18px #ccc;
  width: 50%;
  margin: auto;
  border-radius: 0 0 10px 10px !important;
}

.show-category div{
    width:100%;
    display: flex;
    justify-content: space-around;

}


.show-category div span{
    
    width:50%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.03);
margin-bottom:20px;
border:1px solid #dee2e6;}

.edit-show-product{
    margin:20px;
    border:none !important;
}

.image-show-product{
border:none;
}
.image-show-product .panel{
    padding: 10px;
    margin:10px
}
.image-show-product img{
    border-radius: 10px;
}




.button-login{
    margin:auto;
     margin-top:20px; 
     text-decoration:none;
}
.button-login:hover{
    
    text-decoration:none;

}


.create-project{
    background-color: white !important;
    text-align: center;
    border-radius:0 0 10px 10px ;
    padding: 20px;
    margin-bottom: 30px;
    border:1px solid #dee2e6 ;

    box-shadow: 5px 3px 18px #ccc;
}

.create-project input{
    width:50%;
    margin: auto;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.03)

}

.btn-project{
    width:50%;
    margin: auto;

}
.btn-project input {
    background-color:rgb(31, 199, 45) !important ;
    border:1px solid white;
}
.btn-project input:hover {
    border:1px solid white;
    background-color:#32996e !important ;

}

.create-project textarea{
    margin: auto;
    width: 80% !important;
    text-align: right;
    direction: rtl;
    background-color:rgba(0, 0, 0, 0.03);
    height: 100px;
}

.border{
    border:1px solid gray;
}

.btn-login{
    background-color:rgb(31, 199, 45) !important ;
    border:1px solid white;
    width:40%;

}

.btn-login:hover{
    background-color:#32996e !important ;
    border:1px solid white;

}
.btn-login-style{
    width:50%;
    margin: auto;
    text-align: center;
}

.btn-setpassword{
    background-color:rgb(31, 199, 45) !important ;
    border:1px solid white;
    margin:auto
}
.btn-setpassword:hover{
    background-color:#32996e !important ;
    border:1px solid white; 
}

.btn-register{
    background-color:rgb(31, 199, 45) !important ;
    border:1px solid white;
    width:50%;

}

.btn-register:hover{
    background-color:#32996e !important ;
    border:1px solid white;

}
.btn-category{
    margin-top:40px
}

.btn-category input{
    background-color:rgb(31, 199, 45) !important ;
    border:1px solid white;
    width:40% !important;

}

.btn-category input:hover{
    background-color:#32996e !important ;
    border:1px solid white;

}


.create-category{
    background-color: white !important;
    text-align: center;
    border-radius:0 0 10px 10px ;
    padding: 20px;
    margin-bottom: 30px;
    border:1px solid #dee2e6 ;
    box-shadow: 5px 3px 18px #ccc;
}

.create-category input{
    width:50%;
    margin: auto;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.03)

}

.create-category select{
    width:50%;
    margin: auto;
    text-align: right;
    padding:0;
    direction:rtl;
    background-color:rgba(0, 0, 0, 0.03)
}

.btn-product{
    margin-top:40px
}

.btn-product input{
    background-color:rgb(31, 199, 45) !important ;
    border:1px solid white;
    width:40% !important;

}

.btn-product input:hover{
    background-color:#32996e !important ;
    border:1px solid white;

}

.create-product{
   

    background-color: white !important;
    text-align: center;
    border-radius:0 0 10px 10px ;
    padding: 20px;
    margin-bottom: 30px;
    border:1px solid #dee2e6 ;
    box-shadow: 5px 3px 18px #ccc;
}

.create-product input{
    width:50%;
    margin: auto;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.03)


}

.create-product textarea{
    width:80%;
    margin: auto;
    text-align: right;
    background-color:rgba(0, 0, 0, 0.03);
    height: 100px;

}

.create-product select{
    width:50%;
    margin: auto;
    text-align: center;
    padding:0;
    direction:rtl;
    background-color:rgba(0, 0, 0, 0.03)

}

.edit-product{
    background-color: white;
    text-align: center;
    border-radius: 0 0 10px 10px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 5px 3px 18px #ccc;
}

.edit-product input{
    width:50%;
    margin: auto;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.03)

}

.edit-product textarea{
    width:80%;
    margin: auto;
    text-align: right;
    background-color:rgba(0, 0, 0, 0.03);
    height: 100px;

}

.edit-product select{
    width:50%;
    margin: auto;
    text-align: center;
    padding:0;
    direction:rtl;
    background-color:rgba(0, 0, 0, 0.03)

}
.show-product-image{
    border:1px solid #dee2e6;
    border-radius:10px 10px 0 0;
    box-shadow: 5px 3px 18px #ccc;

}

.show-project-image{
    border:1px solid #dee2e6;
    border-radius:10px 10px 0 0;
    box-shadow: 5px 3px 18px #ccc;
}
.show-gallery-image{
    border:1px solid #dee2e6;
    border-radius:10px 10px 0 0;
    box-shadow: 5px 3px 18px #ccc;
    min-width:25%;
}
