
@font-face {
    font-family: 'yekan';
    font-style: normal;
    font-weight: 300;
    src: url('yekan.eot?#') format('embedded-opentype'), url(yekan.woff) format('woff'), url(yekan.ttf) format('truetype');
  }
  
  
  
  @font-face {
    font-family: "IRANSans";
    src: url(Iransans-Light.eot);
    src: url(Iransans-Light.eot?#iefix) format("embedded-opentype"), url(Iransans-Light.woff) format("woff"), url(Iransans-Light.ttf) format("truetype");
    font-weight: normal;
  }

  * {
      box-shadow: border-box;
  }
body {
    font-family: "yekan", arial;
}
.image_container {
    display: flex;
    justify-content: flex-start;
    align-content: space-evenly;

}
.image_box {
    flex: 1;
}
.image_box img { width: 100%;}
.action-product{
    display:flex;
    flex-direction: column;
   
}

.action-product input{
    display:flex;
    justify-content: center;
    align-content:space-between ;
    margin: 5px;
    width:100%;
}
.action-product a{
    display:flex;
    justify-content: center;
    align-content:space-between ;
    margin: 5px;
    width:100%;

}


.title-products td{
  text-align: center;
}

.products-detail td{
    text-align: center;
    vertical-align: middle;
}

.action-category{ 
    display:flex;
    flex-direction: column;
   
}

.action-category input{
    display:flex;
    justify-content: center;
    align-content:space-between ;
    margin: 5px;
    width:100%;
}
.action-category a{
    display:flex;
    justify-content: center;
    align-content:space-between ;
    margin: 5px;
    width:100%;
}



.title-category td{
  text-align: center;
}

.category-detail td{
    text-align: center;
    vertical-align: middle;
}

.new-category{
    background-color: #47bd8c;
    color:white;
    border-radius: 5px;
    padding: 10px;
}

.new-category:hover{
    text-decoration: none;
    color:white;
    background-color: #32996e;
}

.amd-nav{
display: flex;
height: 60px;
border-bottom: 1px solid rgb(230, 230, 230);
background-color: #f7f7f7 !important;
color: white !important;

}
.edit-category{
    text-align:center;
    margin-top:10px;
     padding:20px;
}

.show-category{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


}

.show-category div{
    width:50%;
    display: flex;
    justify-content: space-around;

}


.show-category div span{
    width:50%;
    padding: 20px;
    background-color: rgb(241, 241, 241);
margin-bottom:20px;
border:1px solid gray
}

.edit-show-product{
    margin:20px;
    border:none !important;
}

.image-show-product{
border:none;
}
.image-show-product .panel{
    padding: 10px;
    margin:10px
}
.image-show-product img{
    border-radius: 10px;
}

.edit-button-product{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    
}
.edit-button-product input{
padding: 15px;
width:20%
}

.button-login{
    margin:auto;
     margin-top:20px; 
     text-decoration:none;
}
.button-login:hover{
    
    text-decoration:none;

}
